{% extends "encyclopedia/layout.html" %}

{% load widget_tweaks %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

    <body>
        {% if title != "no_title" %}
            <h1>"{{ entry_title }}" Not Found.</h1>
            <hr>
            <h3>Similar results:</h3>
            <ul>
                {% for entry in entries %}
                    <li>
                        <a type="submit" href=/wiki/{{ entry }} class="btn btn-link btn-small">{{ entry }}</a>
                    </li>
                    {% empty %}
                    <h4 style="color: rgba(255, 47, 47, 0.767);">No Similar Results.</h4>
                {% endfor %}
            </ul>
        {% endif %}
    </body>
    
{% endblock %}